ion-title {
    text-align: center;
}

ion-card-title {
    text-align: center;
}

ion-card-subtitle {
    text-align: center;
}

ion-card-content {
    text-align: center;
}

.botao3 {
    --background: 	#FF4500; /* Cor de fundo laranja*/  
    --color: white;

}