<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Receitas em Video
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Receitas em Video</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button class="botao2" expand="full" [routerLink]="['/tabs/tab3']">ir para home</ion-button>
  <ion-card>
    <iframe width="390" height="300" src="https://www.youtube.com/embed/ynKoindAg80" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>
    <ion-card-header>
      <ion-card-title>BOLO DE CENOURA</ion-card-title> 
      <ion-card-subtitle>aprenda a fazer...</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    bolo de cenoura simples rapido, facil e delicioso. 
    <ion-button class="botao2" expand="full" [routerLink]="['/tabs/tab2']">clique aqui para ver a receita por escrito</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <iframe width="390" height="300" src="https://www.youtube.com/embed/zwiNTDSmKpM" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
    </iframe>
    <ion-card-header>
      <ion-card-title>BOLINHA DE QUEIJO</ion-card-title> 
      <ion-card-subtitle>aprenda a fazer...</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    Aprenda como fazer bolinha de queijo com apenas 3 ingredientes. 
    <ion-button class="botao2" expand="full" [routerLink]="['/tabs/tab2']">clique aqui para ver a receita por escrito</ion-button>
    </ion-card-content>
  </ion-card>
  

</ion-content>
