<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <div style="text-align: center;">
      <img src="logo.png" alt="Imagem">
    </div>
    <ion-card-header>
      <ion-card-title>Como Faz? </ion-card-title>
      <ion-card-subtitle>Receitas Culinarias</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      As melhores receitas da internet.
    </ion-card-content>
    <ion-toolbar>
      Seja bem-vindo ao nosso aplicativo de receitas culinárias! Aqui, você encontrará uma variedade incrível de pratos para todas as ocasiões, desde refeições simples do dia a dia até jantares especiais. Explore nossas receitas passo a passo, dicas e truques que vão transformar sua cozinha em um verdadeiro laboratório gastronômico. Sinta-se à vontade para compartilhar suas criações e interagir com outros amantes da culinária. Vamos cozinhar juntos e fazer da sua experiência na cozinha algo delicioso!
    </ion-toolbar>
  </ion-card>

  <ion-card>
 <ion-button class="botao4" expand="full" [routerLink]="['/tabs/tab1']">Receitas em Video</ion-button>
 <p>ou</p>
 <ion-button class="botao4" expand="full" [routerLink]="['/tabs/tab2']">Receitas por Escrito</ion-button>
  </ion-card>
</ion-content>
