ion-title {
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
ion-card-title {
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

ion-card-subtitle {

text-align: center;
font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

ion-card-content {
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

ion-toolbar {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin-bottom: auto;
}

.botao4 {
--background:#FF4500 ;
--color: white;
}

p {
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}